extends layoutproject
block content
  .project(ng-class="{'expanded': expanded}")
    div.b-search
      h1.b-search__t= title
      form.input-group.input-group-lg(ng-submit="submit($event)" name="form" action="/search" type="get")
        input.form-control(ng-model="text" type="text" placeholder="Введите название технологии" name="query")
        div.input-group-addon.b-search__bt
          span.glyphicon.glyphicon-search
    div.b-result
      div.b-result-title
        h4 Всего найдено {{count}}
      div.b-result-nav
        ul.nav.nav-tabs
          li(ng-class="{'active': tab === 'all'}", ng-click="showtab('all')")
            a(href='#', ng-click="typesearch('')") Все
          li(ng-class="{'active': tab === 'github'}", ng-click="showtab('github')")
            a(href='#', ng-click="typesearch('github')") Github
          li(ng-class="{'active': tab === 'cdnjs'}", ng-click="showtab('cdnjs')")
            a(href='#', ng-click="typesearch('cdnjs')") Cdnjs
      div.b-result-body
        ul.list-group
          li.list-group-item(ng-animate="'animate", ng-repeat="item in items | filter:{type: type}")
            span.badge {{item.watchers}}
            span.list-group__name {{ item.name }}
            img(src="{{item.avatar_url}}")
            a(href="{{ item.archive_url }}") {{item.archive_url}}
      ul.pagination
        li.disabled
          a(href='#test1')
            span(aria-hidden='true') «
            span.sr-only Previous
        li.active
          a(href='#test2')
            | 1
            span.sr-only (current)
        li
          a(href='#')
            | 2
            span.sr-only (current)
