extends layout

block content
  div.alert
    h2 Hi there,
    p I'm Maksim Troitksi. I write Sass/LESS/CSS, HTML5, Javascript for fun and profit. I work as Frontend developer at Lean Technologies in Belarus.


