extends layout

block content
  div.alert
    h2.alert__t Hi there,
    p I'm Maksim Troitksi. I write NodeJS, CSS, HTML5, Javascript for fun and profit. I work as Frontend developer at&nbsp;
      a(href="http://leantech.pro/" target="_blank") Lean Technologies
      | &nbsp; in Belarus.


