doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app)
    header(class="b-header")
      div(class="b-header__main")
        div.b-header-logo
          img.b-header-logo__img(src="/images/avatar.jpg")
        h1(class="b-header__t")
         a(href="/" class="b-header__t__name") Maksim Troitski
        h2(class="b-header__subt") Full Stack Engineer.
          b Frontend
          = ' '
          | with
          = ' '
          b Love
          = ' '
          | from
          = ' '
          b Minsk
        nav.b-nav
          a.b-nav__a(href="/projects") Projects
          a.b-nav__a(href="/archive") Archive
          a.b-nav__a(href="/about") About
    main.main
      block content
