doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class="b-header")
      nav.b-nav
        a.b-nav__a(href="/projects") Projects
        a.b-nav__a(href="/archive") Archive
        a.b-nav__a(href="/about") About
      h1(class="b-header__t")
       a(href="/") Maksim Troitski
      h2(class="b-header__subt")
        b Frontend
        | &nbsp;
        | with
        | &nbsp;
        b Love
        | &nbsp;
        | from
        | &nbsp;
        b Minsk
    main.main
      block content