html, body {
  height: 100%;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  color: #00B7FF;
}
.b-search {
  width: 50%;
  min-width: 300px;
  margin: auto;
}
.b-search__t {
  margin-top: 0;
}
.b-search__bt {
  cursor: pointer;
}
.expanded {
  display: block;
}
.b-result {
  display: none;
  width: 80%;
  margin: 40px auto;
}
.expanded .b-result {
  display: block;
}
.b-result img {
  width: 50px;
  border-radius: 50%;
}
.list-group__name {
  font-size: 18px;
}
.list-group-item > * {
  margin-right: 20px;
}
.badge {
  margin-right: 0;
}
