@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Merriweather+Sans:400,700,400italic,700italic|Merriweather:400,400italic,700,700italic";

html, body, .project {
  height: 100%;
}
.project {
  display: flex;
}

body {
  font: 19px "Merriweather",Georgia,serif;
}

a {
  color: #00B7FF;
}
.b-search {
  width: 50%;
  min-width: 300px;
  margin: auto;
}
.b-search__t {
  margin-top: 0;
}
.b-search__bt {
  cursor: pointer;
}
.expanded {
  display: block;
}
.b-result {
  display: none;
  width: 80%;
  margin: 40px auto;
}
.expanded .b-result {
  display: block;
}
.b-result img {
  width: 50px;
  border-radius: 50%;
}
.list-group__name {
  font-size: 18px;
}
.list-group-item > * {
  margin-right: 20px;
}
.badge {
  margin-right: 0;
}
.list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}
.b-header {
  height: 320px;
  background-image: url("/images/default.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.b-header__t,
.b-header__subt {
  color: #fff;
  font-size: 40px;
  margin: 0;
}
